img {
    width: 50vw;
}

html {
    font-family: "Sawarabi Mincho", serif;
    font-size: 1rem;
    background-color: #cccccc;
    width: 100%;
}

header {
    background-image: url(../img/headerImg.jpg);
    background-size: cover;
    background-position: center 80%;
    box-shadow: 2px 2px 2px #202020;
    margin-bottom: 3%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #940401;
    padding: 1% 0;
}

.mainvisual {
    background-image: url(../img/mainvisual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    width: 100%;
    height: 80vh;
    margin-bottom: 10%;
    box-sizing: border-box;
}
.mainvisual-text-wrapper {
    padding-top: 10%;
    padding-left: 3%;
    filter: drop-shadow(4px 4px 8px rgb(243, 243, 101));
}
.mainvisual-text {
    color: #fff;
    font-size: 4.5rem;
}
.mainvisual-text small {
    font-size: 2rem;
}



.intro {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 3%;
    box-sizing: border-box;
}
.intro p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2.2rem;
    margin: 50px 0 50px 100px;
}
button {
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 50px 0 50px 100px;
    color: #f3f3f3;
    background-color: #202020;
    padding: 10px 15px;
}
.intro .left,
.intro .right {
    display: flex;
    position: relative;
}
.introImg {
    width: 25vw;
    filter: opacity(0.5);
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: -1;
}
.title1 {
    color: #f3f3f3;
    background-color: #7c7c7c;
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    padding: 5px 5px;
}


.artGallery {
    background-color: #940401;
    color: #f3f3f3;
    width: 100%;
    margin-top: 10%;
    padding: 5% 3%;
    box-sizing: border-box;
    overflow: hidden;
}
.title2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}
.title3 {
    font-size: 2rem;
    padding: 20px 0;
}
.artGallery p {
    font-size: 1.3rem;
    line-height: 2rem;
}
.artFlex {
    margin: 5% 0;
    display: flex;
    justify-content: center;
}

.art {
    width: 1000px;
    margin: 5% auto;
}
.art-left {
    width: 400px;
}
.art-left img {
    width: 400px;
}
.art-left-item {
    width: 400px;
}
.art-right {
    width: 400px;
    margin-left: 8%;
}
.art-right img {
    width: 350px;
}
.art-right-item {
    width: 350px;
}

.art-right-frame {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.arrangement {
    width: 1000px;
    height: 3000px;
    margin: 5% auto;
}

.arrangement-img {
    position: relative;
    width: 1000px;
    height: 250vh;
}
.arrangement-1 {
    position: absolute;
    width: 350px;
    top: 5%;
    left: 10%;
    transform: rotate(-10deg);
    z-index: 2;
}
.arrangement-2 {
    position: absolute;
    width: 500px;
    top: 2%;
    right: 10%;
    z-index: 1;
}
.arrangement-3 {
    position: absolute;
    width: 300px;
    top: -10%;
    right: 15%;
    z-index: 3;
}

.arrangement-4 {
    position: absolute;
    width: 250px;
    top: 25%;
    right: 0;
    z-index: 4;
}
.arrangement-5 {
    position: absolute;
    width: 380px;
    top: 35%;
    left: 10%;
    transform: rotate(10deg);
    z-index: 2;
}
.arrangement-5-frame::before {
    content: "ハツラツとしたガーベラが";
    position: absolute;
    top: 32%;
    left: 15%;
    transform: rotate(10deg);
    z-index: 10;
}
.arrangement-5-frame::after {
    content: "お部屋を明るい雰囲気に";
    position: absolute;
    top: 33%;
    left: 15%;
    transform: rotate(10deg);
    z-index: 10;
}
.arrangement-6 {
    position: absolute;
    width: 300px;
    top: 50%;
    right: 20%;
    border-radius: 50%;
    z-index: 5;
}
.arrangement-6-text {
    position: absolute;
    width: 400px;
    top: 67%;
    right:-9%;
    z-index: 6;
}
.black {
    color: #202020;
}



footer {
    color: #f3f3f3;
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    background-image: url(../img/footerImg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 90vh; */
    position: relative;
    padding: 0 3%;
    box-sizing: border-box;
}
.title4 {
    font-weight: bold;
    margin-top: 2%;
}
footer p {
    margin-left: 5%;
}

/* .siteTitle {
    position: absolute;
    bottom: 3%;
    right: 3%;
} */
/* .siteTitle img {
    width: 60%;
} */

.instagram {
    position: relative;
}

.instagramIcon img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 3;
}
.info {
    position: relative;
}

.footer-flex {
    display: flex;
}
.siteTitle {
    margin-left: auto;
}
.siteTitle img {
    width: 386px;
    height: 139px;
    object-fit: contain;
}


@media (max-width:600px) {
    header {
        margin-bottom: 0;
    }
    nav li {
        display: none;
    }
    .mainvisual-text {
        font-size: 1rem;
    }
    .mainvisual-text small {
        font-size: 0.8rem;
    }
    .mainvisual {
        height: 15vh;
    }

    .intro {
        flex-direction: column;
    }
    .introImg {
        width: 60vw;
    }
    .intro p {
        margin: 50px 0 50px 20px;
    }
    .intro .left {
        margin-bottom: 100px;
    }

    .title3 {
        font-size: 1rem;
        padding: 20px 0;
    }
    .artGallery {
        height: 150vh;
    }
    .artGallery p {
        font-size: 0.7rem;
        line-height: 1rem;
    }

    footer {
        font-size: 0.7rem;
        line-height: 1.5rem;
        /* height: 30vh; */
        padding-top: 10px;
    }
    .instagramIcon img{
        width: 40px;
        height: 40px;
    }


    
.art {
    width: 400px;
}
.art-left {
    width: 180px;
}
.art-left img {
    width: 180px;
}
.art-left-item {
    width: 180px;
}
.art-right {
    width: 180px;
}
.art-right img {
    width: 150px;
}
.art-right-item {
    width: 150px;
}

.art-right-frame {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.arrangement {
    width: 400px;
    height: 1200px;
}

.arrangement-img {
    width: 400px;
}
.arrangement-1 {
    width: 150px;
    top: 1%;
    left: 5%;
}
.arrangement-2 {
    width: 250px;
    top: 2%;
    right: 2%;
}
.arrangement-3 {
    width: 150px;
    top: -1%;
    right: 10%;
}

.arrangement-4 {
    width: 120px;
    top: 10%;
    right: -1%;
}
.arrangement-5 {
    width: 170px;
    top: 12%;
    left: 5%;
}
.arrangement-5-frame::before {
    top: 10.5%;
    left: -3%;
    transform: scale(0.4) rotate(10deg);
}
.arrangement-5-frame::after {
    top: 11%;
    left: -3%;
    transform: scale(0.4) rotate(10deg);
}
.arrangement-6 {
    width: 150px;
    top: 19%;
    right: 14%;
}
.arrangement-6-text {
    width: 150px;
    top: 25%;
    right:-9%;
}

.siteTitle img {
    width: 150px;
}

}